<div *ngIf="Traverse">
    <label>Traverse</label>
    <div class="flex-container trav-measurement-header" fxLayout="row">
        <div fxFlex="25">ID</div>
        <div fxFlex="25">Horizontal</div>
        <div fxFlex="25">Bearing</div>
        <div fxFlex="25">Vertical</div>
        <div fxFlex="25">From</div>
        <div fxFlex="25">To</div>
    </div>
    <trav-measurement
            *ngFor="let meas of Traverse.SurvMeass; let odd=odd; let even=even; let index=index"
            [measurement]="meas"
            [ngClass]="{odd: odd, even: even, first: index===0 }"
    >
    </trav-measurement>
    <div class="trav-drawing"></div>
</div>