@import "./../../../etc/assets/fonts/fontello-16af81e0/css/survey-icons.css";

$tableBorderColour: #f0ffff;
$tableHeaderColour: #f0f0f0;
$tableEvenColour: #f0f0f0;
$tableOddColour: #00f0f0;

$tableBorderLine: dotted;
