@import "./../variables.scss";
@import "../../../../etc/assets/fonts/survey-icons/css/survey-icons.css";

survey-point {
  &.even >div{
      background-color: $tableEvenColour;
  }
  &.odd >div{
      background-color: $tableOddColour;
  }

  text-align: center;
  border-color: $tableBorderColour;
  .survey-point {
    border-bottom: $tableBorderLine;
    border-left: $tableBorderLine;
    border-color: $tableBorderColour;

    .survey-point-info {
      border-right: $tableBorderLine;
      border-color: $tableBorderColour;

      &.survey-coord {
        text-align: right;
      }
    }

    .point-actions {
      i.icon-pencil {
        color: darkred;
      }
      i.icon-trash {
        color: red;
      }
      & :hover {
        cursor: pointer;
      }

    }
  }

}
