@import "./../../../variables.scss";

:host {
    font-family: $surveyFont;
    md-dialog-actions {
        i {
            &:hover {
                cursor: pointer;
            }
            &.icon-ok {
                color: $okBtnColour;
            }
            &.icon-cancel {
                color: $cancelBtnColour;
            }
            padding: 2px;
        }
  }
}