@import "./../../variables.scss";

trav-measurement {
  &.even >div{
    background-color: $tableEvenColour;
  }
  &.odd >div{
    background-color: $tableOddColour;
  }

  .trav-measurement {
    border-bottom: $tableBorderLine;
    border-left: $tableBorderLine;

    .trav-measurement-info {
      border-right: $tableBorderLine;
      text-align: center;

      &.survey-distance {
        text-align: right;
      }
      &.survey-bearing {
        text-align: right;
      }
    }
  }
  &.first .trav-measurement {
    border-top: $tableBorderLine;

  }
}