@import "./../../variables.scss";

add-traverse-dialog {
  font-family: Roboto,"Helvetica Neue",sans-serif;

      .trav-measurement-header {
        background-color: $tableHeaderColour;
        border-color: $tableBorderColour;
        border-bottom: $tableBorderLine;
        border-top: $tableBorderLine;
        border-right: $tableBorderLine;
        & div {
          text-align: center;
          border-color: $tableBorderColour;
          border-left: $tableBorderLine;

        }
      }
}