@import "./../../variables.scss";

:host {
    font-family: $surveyFont;
    md-select {
    }
    i {
        .icon-plus {
            color: $addItemColour;
        }
        &:hover {
            cursor: pointer;
        }
    }
}