@import "../../variables";

traverse-summary {
  & div .trav-measurement-header {
    background-color: $tableHeaderColour;
    border-color: $tableBorderColour;
    border-bottom: $tableBorderLine;
    border-top: $tableBorderLine;
    border-right: $tableBorderLine;
    & div {
      text-align: center;
      border-color: $tableBorderColour;
      border-left: $tableBorderLine;
    }
  }

  .traverse-actions {
    i.icon-pencil {
      color: darkred;
    }
    i.icon-trash {
      color: red;
    }
    & :hover {
      cursor: pointer;
    }

  }

}