@import "./../../../variables.scss";

traverse-summay-list {
  .traverse-summay-header {
    background-color: $tableHeaderColour;
    border-color: $tableBorderColour;
    border-bottom: $tableBorderLine;
    border-top: $tableBorderLine;
    border-right: $tableBorderLine;
    & div {
      text-align: center;
      border-color: $tableBorderColour;
      border-left: $tableBorderLine;
    }
  }
  .add-new-traverse {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    background-color: gray;
    i {
      color: black;
    }
    & :hover {
      cursor: pointer;
    }

  }

}