traverse-drawing {

  .traverse-line {
    stroke: blue;
    fill: none;
    stroke-dasharray: 5;
  }
  .traverse-point {
    stroke: red;
    fill: none;
  }
  .traverse-point-name {
    stroke: blue;
    opacity: 0.5;
    font-style: italic;
    font-size: small;
  }
}