traverse-drawing {

  .traverse-line {
    stroke: blue;
    fill: none;
  }
  .traverse-point {
    stroke: red;
    fill: none;
  }
  .traverse-point-name {
    color: blue;
    font-style: italic;
  }
}