@import "./../variables.scss";
@import "./../../../../etc/assets/fonts/fontello-16af81e0/css/survey-icons.css";

survey-point {
  &.even >div{
      background-color: $tableEvenColour;
  }
  &.odd >div{
      background-color: $tableOddColour;
  }

  text-align: center;
  border-color: $tableBorderColour;
  .survey-point {
    border-bottom: $tableBorderLine;
    border-left: $tableBorderLine;
    border-color: $tableBorderColour;

    .survey-point-info {
      border-right: $tableBorderLine;
      border-color: $tableBorderColour;

      &.survey-coord {
        text-align: right;
      }
    }
  }

}
