@import "../variables";

survey-measurement {
  &.even >div{
    background-color: $tableEvenColour;
  }
  &.odd >div{
    background-color: $tableOddColour;
  }

  text-align: center;
  border-color: $tableBorderColour;
  .survey-measurement {
    border-bottom: $tableBorderLine;
    border-left: $tableBorderLine;
    border-color: $tableBorderColour;

    .measurement-info {
      border-right: $tableBorderLine;
      border-color: $tableBorderColour;
      text-align: center;

      &.survey-distance {
        text-align: right;
      }
      &.survey-bearing {
        text-align: right;
      }
    }
  }
  &.first .survey-measurement {
    border-top: $tableBorderLine;

  }
}